<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./portfolio.css">
    <title>Portfolio</title>
</head>
<body>
    <section class="portfolio">
        <ol>
            <li>
                <h2>Eugenie</h2>
                <div class="desc-ctn">
                    <bold>lorem ipsum dolor atmet consectetur</bold><hr class="desc-line"></hr><p>lorem ipsum dolor atmet lorem etc etc</p>
                </div>
                <hr class="ctn-line">
            </li>
            <li>
                <h2>Desarrollos <br>Delsud</h2>
                <div class="desc-ctn">
                    <bold>No te comas la cabeza</bold><hr class="desc-line"></hr><p>Idea creativa & producción audiovisual</p>
                </div>
                <hr class="ctn-line">
            </li>
            <li>
                <h2>Flexy</h2>
                <div class="desc-ctn">
                    <bold>lorem ipsum dolor atmet consectetur</bold><hr class="desc-line"></hr><p>lorem ipsum dolor atmet lorem etc etc</p>
                </div>
                <hr class="ctn-line">
            </li>
        </ol>
        <div class="bg-img"></div>
        <div class="bg-overlay"></div>
    </section>
</body>
<script src="./portfolio.js" type="module"></script>
</html>