<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="carousel.css" />
    <title>Document</title>
  </head>

  <body id="body">
    <!-- cursor -->
    <section role="cur">
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <!-- cursor -->
    </section>

    <div class="carousel">
      <figure>
        <img src="https://source.unsplash.com/bjhrzvzZeq4/800x533" alt="" />
        <img src="https://source.unsplash.com/EbuaKnSm8Zw/800x533" alt="" />
        <img src="https://source.unsplash.com/kG38b7CFzTY/800x533" alt="" />
        <img src="https://source.unsplash.com/nvzvOPQW0gc/800x533" alt="" />
        <img src="https://source.unsplash.com/mCg0ZgD7BgU/800x533" alt="" />
        <img src="https://source.unsplash.com/1FWICvPQdkY/800x533" alt="" />
        <img src="https://source.unsplash.com/VkwRmha1_tI/800x533" alt="" />
      </figure>
      <nav>
        <button class="nav prev">Prev</button>
        <button class="nav next">Next</button>
      </nav>
    </div>
    <script src="carousel.js" type="module"></script>
  </body>
</html>
