@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

@font-face {
  font-family: "Montserraty";
  src: url("./assets/Montserrat-black/Montserrat-Black.eot");
  /* IE9 Compat Modes */
  src: url("./assets/Montserrat-black/Montserrat-Black.eot") format("embedded-opentype"), url("./assets/Montserrat-black/Montserrat-Black.woff2") format("woff2"), url("./assets/Montserrat-black/Montserrat-Black.woff") format("woff"), url("./assets/Montserrat-black/Montserrat-Black.ttf") format("truetype"), url("./assets/Montserrat-black/Montserrat-Black.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: 900;
  font-style: normal;
}

:root {
  font-size: 20px;
  font-family: "Montserraty", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-snap-type: none;
}

a {
  text-decoration: none;
  color: inherit
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  background-color: black;
  font-family: 'Montserraty';
  overflow-x: hidden;
}

/* body::-webkit-scrollbar {
  display: none;
} */

/* ============= INTRO ============= */

body #intro {
  width: 100vw;
  height: 100vh;
}

#intro #init {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-image: url('./assets/Layer_1.png');
  background-size: 150px;
  backdrop-filter: opacity(10%);
  animation: fadeOutAnimation 1s;
  animation-delay: 2.5s;
  z-index: 100;

}

body #intro #scrollea {
  position: fixed;
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

body #intro #init svg {
  width: 30vw;
  height: 30vh;
  fill-opacity: 0;
  stroke: white;
  stroke-width: 1;
  stroke-dasharray: 1500px;
  stroke-dashoffset: 1500px;
  mix-blend-mode: lighten;
  animation-name: draw, fill1, fill2;
  animation-duration: 0.5s, 1s, 1.5s;
  animation-delay: 0s, 1s, 1.5s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  margin: auto;
}

body #intro #scrollea svg {
  width: 15vw;
  height: 15vh;
  margin: auto;
}

body #intro #scrollea svg path.st1 {
  fill: white;
  animation: scroll 0.8s infinite;
}

body #intro #video {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100vw;
  height: 100vh;
}

body #intro #video #video-camara{
  position: relative;
  width: 100vw;
  height: 100vh;
}
body #intro #video #video-camara img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

body #intro #video #texto {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  height: 100%;
  width: 100%;
}

body #intro #video #texto p {
  font-size: 5rem;
  margin: 0;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 2px rgb(203, 219, 67);
}

/* ============== END INTRO ============= */

/* ============== PORTFOLIO ============= */

section.portfolio {
  position: relative;
  width: 100vw;
  background-color: hsl(0, 0%, 0%);
  opacity: 0;
}

section.portfolio .bg-rodaje,
section.portfolio .sup-rodaje {
  position: absolute;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: bottom;
}

section.portfolio .sup-rodaje {
  z-index: 2;
}

section.portfolio .sup-rodaje.zoomed {
  z-index: 4;
  opacity: 0;
}

section.portfolio h2,
section.portfolio p,
section.portfolio bold,
section.portfolio span {
  font-family: "Montserrat", sans-serif;
}

section.portfolio h2,
section.portfolio bold,
section.portfolio span {
  text-transform: uppercase;
}

section.portfolio h2 {
  position: relative;
  width: fit-content;
  height: auto;
  font-weight: 1000;
  font-size: 3.8rem;
  line-height: 4.2rem;
  color: transparent;
  -webkit-text-stroke: 2px rgb(203, 219, 67);
  cursor: none;
}

section.portfolio p,
section.portfolio bold {
  font-size: 18px;
  white-space: nowrap;
  color: #FFF;
}

section.portfolio p {
  font-weight: 400;
}

section.portfolio bold {
  font-weight: 700;
}

section.portfolio .txt-ctn-1,
section.portfolio .txt-ctn-2 {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

section.portfolio .txt-ctn-2 {
  z-index: 20;
}

section.portfolio .txt-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

section.portfolio .dup-ctn {
  position: relative;
  z-index: 3;
}

section.portfolio .txt-row h2 {
  position: relative;
  z-index: 0;
  opacity: 0;
}

section.portfolio .hand-cursor {
  position: absolute;
  width: 80px;
  height: 80px;
  background-image: url('./assets/cursor-mano.svg');
  background-size: cover;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: none;
}

section.portfolio .pf-accordion-outer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: visible;
  opacity: 0;
  z-index: 0;
}

section.portfolio ol {
  width: 50%;
  position: relative;
  padding-left: 25px;
  z-index: 20;
}

section.portfolio ol li {
  padding-top: 50px;
}

section.portfolio ol li h2 {
  z-index: 20;
  transform: translateY(30px);
  opacity: 0;
}

section.portfolio .desc-ctn {
  width: 100%;
  display: flex;
  opacity: 0;
  transform: translateY(-100px);
  margin: 0;
}

section.portfolio ol li hr.ctn-line {
  margin: -12px 0;
  height: 3px;
  background-color: #fff;
}

section.portfolio .desc-ctn hr.desc-line {
  margin: 0 5px;
}

section.portfolio .bg-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: #000;
  opacity: 0;
  z-index: 5;
}

section.portfolio .dup-ctn span {
  display: inline-block;
  position: relative;
  font-weight: 1000;
  font-size: 3.8rem;
  color: transparent;
  z-index: 0 !important;
  opacity: 0;
  -webkit-text-stroke: 2px rgb(203, 219, 67);
}

section.portfolio .dup-ctn span.spacer {
  font-size: 3rem;
  visibility: hidden;
}

section.portfolio div.video-ctn {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

section.portfolio .box-ctn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 30%;
  background-color: rgb(10, 10, 10);
  transform: skew(3.5deg, 7deg) translate(-5px, 40px);
}

section.portfolio .vid-overlay {
  position: absolute;
  width: 101%;
  height: 101%;
  top: -1px;
  left: -1px;
  background-color: rgb(10, 10, 10);
  z-index: 6;
  opacity: 1;
}

section.portfolio .box-ctn .preview-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  pointer-events: none;
}

section.portfolio .logo-box {
  position: relative;
  width: 100px;
  height: 100px;
  fill: rgb(203, 219, 67);
  opacity: 0.4;
  z-index: 7;
}

section.portfolio .modal-container {
  position: absolute;
  top: 0;
  left: auto;
}

section.portfolio .modal {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

section.portfolio .modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

section.portfolio .close {
  position: absolute;
  z-index: 50000;
  top: 5%;
  right: 10%;
  width: 48px;
  cursor: pointer;
  filter: invert(1);
}

#modalVideo {
  width: 80%;
  position: relative;
  padding: 0;
  margin: 0;
}

section.portfolio .hidden {
  display: none;
}

section.portfolio .shown {
  display: block;
}

/* ======================== End middle =========================*/

#middle {
  height: 100vh;
  width: 100vw;
}

body #middle #middleVidCtn {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0;
}

body #middle #middleVidCtn img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  position: fixed;
  top: 0;
}

#text-container hr {
  width: 100%;
  margin: 4.07%;
  z-index: -100;
}

#text-container p {
  font-size: 4rem;
  margin: 0;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 2px rgb(203, 219, 67);
}

#text-container #letter-ctn {
  display: flex;
  font-size: 0;
  margin: 0;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 2px rgb(203, 219, 67);
}

#text-container #letter-ctn .spacer {
  font-size: 2rem;
  visibility: hidden;
}

#text-container #letter-ctn span {
  font-size: 4rem;
  margin: 0;
  padding: 0;
  color: transparent;
  -webkit-text-stroke: 2px rgb(203, 219, 67);
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  margin-top: -70px;
  font-size: 6.8rem;
  color: transparent;
  -webkit-text-stroke: 2px rgb(203, 219, 67);
}

h2 {
  font-size: 1.9rem;
  color: rgb(203, 219, 67);
  text-transform: uppercase;
}

.accordion {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX;
  transform-style: preserve-3d;
  perspective: 1000;
  position: fixed;
  top: 0;
}

#parent {
  position: relative;
  display: flex;
  /* overflow: hidden; */
  white-space: nowrap;
  width: 100vw;
  height: 450px;
  padding: 0px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.acc-borders {
  position: absolute;
  width: 140vw;
  height: 450px;
  right: -50%;
  border-top: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  z-index: -4;
}

.child {
  position: relative;
  display: flex;
  align-items: center;
  width: 33.3%;
  height: 100%;
  font-family: arial;
  text-align: center;
  overflow: hidden;
  padding: 50px 0 50px 80px;
  text-align: left;
}

/* .child:nth-child(1) {
  left: 0;
  float: left;
} */

.child:nth-child(2) {
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

/* .child:nth-child(3) {
  right: 0;
  float: right;
} */

.title-ctn,
.text-ctn {
  width: 100%;
  pointer-events: none;
}

.title-ctn {
  transition: 0.8s ease left;
  left: 50%;
}

.text-ctn {
  position: absolute;
  left: 0;
}

.child:nth-child(1) .text-ctn {
  margin: 0 0 0 420px;
}

.child:nth-child(2) .text-ctn {
  margin: 0 0 0 360px;
}

.child:nth-child(3) .text-ctn {
  margin: 0 0 0 420px;
}

.text-ctn::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 350px;
  top: 0;
}

.text-ctn p,
.text-ctn ol li {
  width: 300px;
  font-weight: 100;
  text-wrap: wrap;
  font-size: 0.8rem;
  letter-spacing: -0.5px;
  color: #FFF;
  line-height: 1.4rem;
}

.text-ctn p,
.text-ctn ol {
  display: inline-block;
  width: object-fit;
  transition: 0.8s ease clip-path;
  clip-path: inset(0 100% 0 0);
}

.child:hover .text-ctn p,
.child:hover .text-ctn ol {
  clip-path: inset(0 0 0 0%);
}

.child:hover .title-ctn {
  left: 0;
}

.child:nth-child(2) ol:nth-child(1) {
  clip-path: inset(0 0 0 100%);
}

.child:nth-child(2):hover ol:nth-child(1) {
  clip-path: inset(0 0 0 0);
}

.bg-video {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  object-fit: cover;
  z-index: -1;
  filter: hue-rotate(300deg);
  opacity: 0;
}

/* ======================== End middle =========================*/


/* ======================== Keyframes =========================*/

@keyframes fill1 {
  from {
    fill-opacity: 0;
  }

  to {
    fill-opacity: 1;
    fill: white;
  }
}

@keyframes fill2 {
  to {
    fill-opacity: 1;
    fill: #D1D821;
    stroke: #D1D821;
  }
}


@keyframes scroll {
  from {
    opacity: 0;
    transform: translateY(-70px);
  }

  to {
    opacity: 1;
    transform: translateY(50px);
  }
}

@keyframes fadeOutAnimation {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}