@font-face {
  font-family: 'Montserrat';
  src: url('../../assets/Montserrat-black/Montserrat-Black.eot');
  /* IE9 Compat Modes */
  src: url('../../assets/Montserrat-black/Montserrat-Black.eot') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../../assets/Montserrat-black/Montserrat-Black.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../../assets/Montserrat-black/Montserrat-Black.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('../../assets/Montserrat-black/Montserrat-Black.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../../assets/Montserrat-black/Montserrat-Black.svg#svgFontName') format('svg');
  /* Legacy iOS */
  font-weight: 900;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  cursor: none;
    
  a {
    color: inherit;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  display: flex; // To center the carousel vertically in the viewport
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
}

#parent {
  height: 100%;
  padding:0px;
}

.child {
  height: 350px;
  margin: 0px;
  background-color:#7CFC00;
  float: left;
  box-shadow: 0 0 0 4px  #333;
  font-family:arial;
  font-size: 1.2em;
  text-align: center;
  overflow:hidden;
  padding-top: 20px;
}