body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  height: auto;
}

body::-webkit-scrollbar {
  display: none;
}

body .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url('../../assets/Layer_1.png');
  background-size: 100px;
  backdrop-filter: brightness(40%) !important;
  position: fixed;
}

body .container svg {
  width: 30vw;
  height: 30vh;
  fill-opacity: 0;
  stroke: white;
  stroke-width: 1;
  stroke-dasharray: 1500px;
  stroke-dashoffset: 1500px;
  mix-blend-mode: lighten;
  max-width: percentage(1 / 3);
  animation-name: draw, fill1, fill2;
  animation-duration: 2s, 1s, 1.5s;
  animation-delay: 0s, 1s, 1.5s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill2 {
  to {
    fill-opacity: 1;
    fill: #D1D821;
    stroke: #D1D821;
  }
}

@keyframes fill1 {
  from {
    fill-opacity: 0;
  }

  to {
    fill-opacity: 1;
    fill: white;
  }
}